@using Homework.Enums
@model IEnumerable<Homework.Models.MoneyList>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>#</th>
        <th>類別</th>
        <th>日期</th>
        <th>金額</th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Number)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Category)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Date)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Money)
                 </td>
             </tr>
         }
    }

</table>
